body {
  background-color: lightblue;
  padding: 24px;
}

.pit {

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .stone {

    margin: 2px;
    border-radius: 50%;

    @sz: 12px;
    width: @sz;
    min-width: @sz;
    max-width: @sz;
    height: @sz;
    min-height: @sz;
    max-height: @sz;

    background-color: white;
  }
}

.board-container {

  button {

  }

  table {

    height: 224px;
    margin-bottom: 24px;

    @rad: 16px;

    border-radius: @rad;
    border: 2px solid brown;
    background-color: brown;

    tr {

      &.player1 {
        td:hover {
          background-color: #ffb97d;
          cursor: pointer;
        }
      }
    }

    td {

      @w: 50px;
      width: @w;
      min-width: @w;
      max-width: @w;

      border-radius: @rad * 2;
      border: 2px solid brown;
      background-color: #ff9439;

      &.store {
        border-radius: @rad * 3;
      }
    }
  }
}

button.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

