<div class="board-container">
    <table border="2" cellpadding="20px">
        <tr class="player2">
            <td rowspan="2" class="store"><pit stone-count="boardCtrl.getGameState().getStoneCount(13)"></pit></td>
            <td><pit stone-count="boardCtrl.getGameState().getStoneCount(12)"></pit></td>
            <td><pit stone-count="boardCtrl.getGameState().getStoneCount(11)"></pit></td>
            <td><pit stone-count="boardCtrl.getGameState().getStoneCount(10)"></pit></td>
            <td><pit stone-count="boardCtrl.getGameState().getStoneCount(9)"></pit></td>
            <td><pit stone-count="boardCtrl.getGameState().getStoneCount(8)"></pit></td>
            <td><pit stone-count="boardCtrl.getGameState().getStoneCount(7)"></pit></td>
            <td rowspan="2" class="store"><pit stone-count="boardCtrl.getGameState().getStoneCount(6)"></pit></td>
        </tr>

        <tr class="player1">
            <td click-pit="0"><pit stone-count="boardCtrl.getGameState().getStoneCount(0)"></pit></td>
            <td click-pit="1"><pit stone-count="boardCtrl.getGameState().getStoneCount(1)"></pit></td>
            <td click-pit="2"><pit stone-count="boardCtrl.getGameState().getStoneCount(2)"></pit></td>
            <td click-pit="3"><pit stone-count="boardCtrl.getGameState().getStoneCount(3)"></pit></td>
            <td click-pit="4"><pit stone-count="boardCtrl.getGameState().getStoneCount(4)"></pit></td>
            <td click-pit="5"><pit stone-count="boardCtrl.getGameState().getStoneCount(5)"></pit></td>
        </tr>
    </table>
</div>
