body {
  background-color: lightblue;
  padding: 24px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 0 24px 0;
  line-height: 1rem;
}

.pit {

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .stone {

    margin: 2px;
    border-radius: 50%;

    @sz: 12px;
    width: @sz;
    min-width: @sz;
    max-width: @sz;
    height: @sz;
    min-height: @sz;
    max-height: @sz;

    background-color: white;
  }
}

.board-container {

  &:hover {
    cursor: not-allowed;
  }

  button {

  }

  table {

    height: 224px;
    margin-bottom: 24px;

    @rad: 16px;

    border-radius: @rad;
    border: 2px solid brown;
    background-color: brown;

    tr {

      &.player1 {
        td:hover {
          background-color: #ffb97d;
          cursor: pointer;
        }
      }
    }

    td {

      @w: 50px;
      width: @w;
      min-width: @w;
      max-width: @w;

      @h: 100px;
      height: @h;
      min-height: @h;

      border-radius: @rad * 2;
      border: 2px solid brown;
      background-color: #ff9439;

      &.store {
        border-radius: @rad * 3;
      }
    }
  }
}

