<div class="game">
    <div>
        <board game-state="gameCtrl.getGameState()" unlocked="!gameCtrl.moveInProgress()"></board>
    </div>
    <div class="info-section">

        <div ng-if="gameCtrl.isPlayer1Turn() && !gameCtrl.isGameOver()" class="turn-msg">Your Turn</div>
        <div ng-if="!gameCtrl.isPlayer1Turn() && !gameCtrl.isGameOver()" class="turn-msg">Computer Turn</div>

        <div ng-if="gameCtrl.isGameOver() && (gameCtrl.getGameState().getPlayer2Score() > gameCtrl.getGameState().getPlayer1Score())" class="turn-msg">Computer Won!</div>
        <div ng-if="gameCtrl.isGameOver() && (gameCtrl.getGameState().getPlayer2Score() < gameCtrl.getGameState().getPlayer1Score())" class="turn-msg">You Won!</div>

        <div class="scores">
            <div class="score">You:
                <div class="score-value">{{gameCtrl.getGameState().getPlayer1Score()}}</div>
            </div>
            <div class="score">Computer:
                <div class="score-value">{{gameCtrl.getGameState().getPlayer2Score()}}</div>
            </div>
        </div>

        <div>
            <input type="submit" class="btn" ng-click="gameCtrl.resetGame()" ng-disabled="gameCtrl.moveInProgress()"
                   value="New Game"/>
        </div>

        <div class="help-msg-section">

            <div class="help-msg" ng-if="gameCtrl.isIdle()">
                Make a move!
            </div>

            <div class="help-msg" ng-if="gameCtrl.moveInProgress()">
                Move in progress.
            </div>

            <div class="help-msg" ng-if="gameCtrl.isGameOver()">
                Game Over.
            </div>

        </div>

    </div>
</div>
